body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputField {
  color: #000;
  background: #fff;
  border: #ccc 2px solid;
  border-radius: 20px;
}
.css-o69gx8-MuiCardMedia-root {
  object-fit: contain !important;
}
.css-185gdzj-MuiCardHeader-root{
  height: 2rem !important;
}
